.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    padding-left: 25%;
}

.pc #pcPictures {
    width: 25%;
    height: 50%;
}

.details-area {
    display: flex;
    flex-direction: column;
}

.nav {
    color: yellow;
    background-color: yellow;
}

.details-area h1 {
    color: yellow;
}

.a.details-link {
    color: yellow;
}

#add-to-cart-button {
    color: yellow;
    background-color: yellow;
}


